# Pandas 1: series and data frames
Learning objectives
By the end of this lesson, students will be able to:

- Explain the relation between *pandas.Series* and pandas. DataFrame
- Construct simple pandas.Series and pandas. DataFrame from scratch using different initalization methods
- Perform simple operations on *pandas.Series*
- Navigate the pandas documentation to look for attributes and methods of *pandas.Series* and *pandas.DataFrame*

In [18]:
# Check in 2

df.columns=(['C1','C2'])# This is colnames in R without having to repeat !
df

   C1   C2
a   0  3.1
b   1  3.2
c   2  3.3

In [1]:
# I know pandas but im pretty bad still. This part i know
import pandas as pd
import numpy as np

## Attributes & methods 

An object in Python has attributes and methods
- **attribute**: Property of an object, some piece of info about it 
- **method**: a procedure associated with the object, an action where the main ingredient is the object

We can access attrib
utes by using a period after the variable name

`variable.method()` or `variable.attribute`

In [ ]:
a.shape

In [ ]:
type(a.shape)

In [ ]:
#Method Examples
a.min(axis = 0)

## Check in 
We can also call the `min` method w/out any paramaters:

In [ ]:
a.min()

Remember: methods are functions associated with an object

In [2]:
type(a.min) #Builtin_function_or_method

NameError: name 'a' is not defined

## Excercise 
1. Read `Print` fun help, What is the **type** of the argument `sep`? is this an optional or non-optional argument?

2. Create two new variables, one with 77 and one with the string 99 

3. Use your variable to print `77%99%77` by changing the value of one of the optional argument in print

In [3]:
?print

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [4]:
sv = 77
ni = '99'

In [7]:
print(sv, ni, sv, sep = ' more like 6/7 ')

77 more like 6/7 99 more like 6/7 77

NoneType